html(lang='ru')
    head
        meta(name='robots', content='noindex, nofollow')
        link(rel='stylesheet', href='/assets/bundle.css')
        link(rel="apple-touch-icon", sizes="180x180", href="/favicon/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicon/favicon-16x16.png")
        link(rel="manifest", href="/favicon/site.webmanifest")
        link(rel="mask-icon", href="/favicon/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="theme-color" content="#ffffff")
        title=app.name
    body
        header.commit-info
            h2.commit-info__subject=commitInfo.subject
            div.commit-info__body=commitInfo.body
            div.commit-info__author
                span.commit-info__author-name=commitInfo.author.name
            div.commit-info__time=commitInfo.author.date
        div.container
            section.branches
                h2 Ветки
                ul
                    each branch in branches
                        li(class='branches__branch' + (branch.isActive ? ' _active' : ''))
                            a(href=branch.href, title=branch.name)=branch.name
            section.contents
                include breadcrumbs
                if directory
                    include directory
                else if blob
                    include blob
                else
                    include not_found
            section.commits
                h2 Коммиты
                ul
                    each commit in commits
                        li(class='commits__commit' + (commit.isActive ? ' _active' : ''))
                            a(href=commit.href, title=commit.name)
                                =commit.abbr
                            =' ' + commit.name
script(src='/assets/bundle.js')